img {
    width: 50%;
}

.main {
    margin-left: 10px;
    display: flex;
    flex-direction: row;

}

.left {
    width: 70%;

}

.right {
    width: 30%;
    margin-right: 50px;


}

.attributes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10px;
};



  





