body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav {
  background-color: rgb(226, 19, 19);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
  font-family: copperplate;
  font-weight: bold;
  font-size: 15px;
}

nav button {
  border-radius: 15px;
}
nav a {
  color: rgb(0, 0, 0);
}

body {
  background: blanchedalmond
}

.roster {
  margin-left: 20px;
}

h1 {
  text-align: center;
}




