body {
  margin: 0;
  font-family: copperplate;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav {
  background-color: #f5cb5c;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
  font-family: copperplate;
  font-weight: bold;
  font-size: 15px;
}

nav a {
  color: rgb(0, 0, 0);
}

body {
  background-color: #e8eddf
}

.roster {
  margin-left: 20px;
}

h1 {
  text-align: center;
}




